h1 {
    font: bolder 50px Copperplate Gothic;
    color: rgb(8, 12, 247);
    text-align: center;
    text-decoration: underline;
}
body {
    background-image: radial-gradient(circle, rgb(238, 123, 16), rgba(245, 99, 189, 0.87) 60%, rgb(106, 234, 243));

}
#box1 {
    border: 10px solid white;
    margin: 30px 70px;
}
p {
    font: bolder 25px Franklin Gothic Heavy;
    color: black;
    word-spacing: 5px;
}
button {
    backgrounD: none;
    border: none;
    color: black;
    font: bolder 18px Franklin Gothic;
    background-color: rgb(232, 248, 6);
    margin: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 350px;
    box-shadow: 10px 10px 5px white;
    border-radius: 15px;
}
a {
    text-decoration: none;
    color: black;
}
#next {
    background-color: rgb(76, 76, 253);
    width: 10%;
    margin: 20px;
}
#ff {
    display: flex;
}